<form class="" action="/recipes" method="post">
  <p>Name</p>
  <input type="text" name="name" value="">
  <p>Ingredients</p>
  <input type="text" name="ingredients" value="">
  <p>Cook Time</p>
  <input type="text" name="cook_time" value="">
  <input type="submit" name="submit" value="Submit">
</form>
